/*  -------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: '微軟正黑體', 'Microsoft JhengHei', Arial, Helvetica, sans-serif; */
    /* -ms-overflow-style: none; */
    /* height: 100%; */
    /* width: calc(100vw + 18px); */
    /* overflow: auto; */
}

body::-webkit-scrollbar {
    display: none;
}

:before, :after {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

header, footer, div, nav, article, h2, h3, h4, h5, h6, hr, p, form, label, input, textarea, ul, li, img, span, font, strong, b, a, i {
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    line-height: 170%;
    border-width: 0;
    font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* body -------------------------------------------------------- */

.bgc-flex {
    position: relative;
    background: no-repeat;
    display: flex;
    background-size: cover;
}

.bgc-flex-v {
    position: relative;
    background: no-repeat fixed center;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
}

.centerCenter {
    text-align: center !important;
    justify-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
    align-self: center !important;
    align-items: center !important;
    align-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}